MONGODB_URI=
PORT=5000
JWT_SECRET=
HIANIME_API_BASE_URL=https://your-aniwatch-api-instance
STREAM_PROXY_SECRET=
SUBDL_API_KEY=
OPENROUTER_API_KEY=
SERPAPI_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
